# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.Python
build/
dist/

# Virtual environment
.venv/
venv/
ENV/
env/
.venv/

# Data
data/raw/
data/processed/

# Generated outputs
outputs/

# Environment & editor
.env
.vscode/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/